# Kconfig - Display drivers

#
# Copyright (c) 2017 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig DISPLAY
	bool "Display Drivers"
	help
	  Enable display drivers

if DISPLAY

config SYS_LOG_DISPLAY_DRIVER_LEVEL
	int "Display driver log level"
	depends on SYS_LOG
	default 0
	help
	  Sets log level for display drivers.

	  Levels are:

	  - 0 OFF, do not write

	  - 1 ERROR, only write SYS_LOG_ERR

	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level

	  - 3 INFO, write SYS_LOG_INF in addition to previous levels

	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

source "drivers/display/Kconfig.microbit"

source "drivers/display/Kconfig.ili9340"

source "drivers/display/Kconfig.ssd1306"

endif # DISPLAY
